<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Dashboard CCTV Kota Ambon</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="images/cctv.png">

<link rel="preconnect" href="https://fonts.gstatic.com">

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


<!-- CSS Template -->
<link href="css/style.css" rel="stylesheet">


<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


<!-- HLS -->
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>


<style>

#map {
    height:500px;
    width:100%;
}

video {
    background:black;
}

</style>


</head>


<body>


<!-- NAVBAR -->

<div class="container-fluid p-0">

<nav class="navbar bg-white navbar-light">

<a href="index.html">

<h1 class="m-3">

<img src="images/kota-ambon.png"
height="60">

<img src="images/kominfo1.png"
height="55">

</h1>

</a>

</nav>

</div>



<!-- MAP CCTV -->


<div class="container-fluid px-0">

<div class="row justify-content-center bg-image mx-1 mb-5">


<div class="col-lg-11 py-5" id="map">


</div>


</div>

</div>



<script>


var map = L.map('map')
.setView(
[-3.690387,128.186579],
13
);



L.tileLayer(
'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
{
attribution:'&copy; OpenStreetMap'
}
).addTo(map);



const cctvIcon = L.icon({

iconUrl:'images/cctv.png',

iconSize:[40,40],

iconAnchor:[20,40],

popupAnchor:[0,-40]

});



const lokasi = [


{

nama:"CCTV Satpol PP",

lat:-3.690387,

lng:128.186579,

stream:"http://174.1.1.50:8888/cctv01/index.m3u8"

},


{

nama:"CCTV Pelabuhan",

lat:-3.692000,

lng:128.190000,

stream:""

},


{

nama:"CCTV Pasar",

lat:-3.688500,

lng:128.184000,

stream:"http://174.1.1.50:8888/cctv02/index.m3u8"

}



];



lokasi.forEach(function(item,index){


let marker =
L.marker(
[item.lat,item.lng],
{
icon:cctvIcon
}
)

.addTo(map);



marker.bindPopup(`

<h5>${item.nama}</h5>

<video
id="video${index}"
width="300"
height="200"
controls
autoplay
muted>
</video>

`);



marker.on(
'popupopen',
function(){


let video =
document.getElementById(
`video${index}`
);



if(item.stream==="")
{
video.outerHTML =
"<p>Stream belum tersedia</p>";

return;

}



if(Hls.isSupported())
{


let hls =
new Hls();



hls.loadSource(item.stream);



hls.attachMedia(video);



hls.on(
'HLS_ERROR',
function(event,data){

console.log(
"HLS Error",
data
);

});



}

else
{

video.src=item.stream;

}



}


);



});


</script>

<!-- FOOTER START -->


<div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-2"
style="margin-top:50px;">


<div class="container mt-5 pt-5">


<div class="row">


<div class="col-md-3 mb-7">


<h4 class="text-white">Command</h4>

<h4 class="text-white">Center</h4>

<h4 class="text-white">Kota Ambon</h4>


</div>



<div class="col-md-2 mb-3">


<h4 class="text-white mb-4">
SOP
</h4>


<div class="d-flex flex-column justify-content-start">


<a class="text-white-50 mb-2">

<i class="fas fa-users mr-2"></i>
Kunjungan

</a>



<a class="text-white-50 mb-2">

<i class="fas fa-clipboard-list mr-2"></i>
Permintaan Data

</a>


</div>


</div>





<div class="col-md-3 mb-3">


<h4 class="text-white mb-4">
Contact
</h4>


<div class="d-flex flex-column justify-content-start">


<p class="text-white-50 mb-2">

<i class="fas fa-envelope mr-2"></i>

diskominfosandi@gmail.com

</p>



<p class="text-white-50 mb-2">

<i class="fas fa-phone-alt mr-2"></i>

+6280987654321

</p>



<p class="text-white-50 mb-2">

<i class="fab fa-whatsapp mr-2"></i>

+6281234567890

</p>



</div>


</div>







<div class="col-md-4 mb-4">


<h4 class="text-white mb-4">

About Us

</h4>



<p class="text-white-50">


Bidang 
<strong>
e-Goverment
</strong>

<br>


Dinas Komunikasi Informatika dan Persandian


<br>


Pemerintah Kota Ambon


<br><br>


<strong>
Gedung Balai Kota Ambon
</strong>


<br>


Jl. Sultan Hairun, Kel. Honipopu - Lantai 4


</p>



</div>



</div>


</div>


</div>





<!-- COPYRIGHT -->


<div class="container-fluid bg-dark">


<div class="row py-2 px-lg-5">


<div class="col-lg-6 text-center">


<p class="m-0 text-white">


Copyright &copy;

DISKOMINFO KOTA AMBON


</p>


</div>





<div class="col-lg-6 text-center">


<a class="text-white px-2"
href="https://www.facebook.com/share/16RG7ft8qw/?mibextid=wwXIfr">

<i class="fab fa-facebook-f"></i>

</a>



<a class="text-white px-2"
href="https://www.tiktok.com/@diskominfosandi_ambon">


<i class="fab fa-tiktok"></i>


</a>




<a class="text-white px-2"
href="https://www.instagram.com/diskominfosandi_ambon/">


<i class="fab fa-instagram"></i>


</a>




<a class="text-white px-2"
href="https://www.youtube.com/c/PEMERINTAHKOTAAMBON">


<i class="fab fa-youtube"></i>


</a>


</div>



</div>


</div>





<!-- BACK TO TOP -->


<a href="#"
class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top">


<i class="fa fa-angle-double-up"></i>


</a>




<!-- JAVASCRIPT LIBRARY -->


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>


<script src="lib/easing/easing.min.js"></script>


<script src="lib/waypoints/waypoints.min.js"></script>


<script src="lib/counterup/counterup.min.js"></script>


<script src="lib/owlcarousel/owl.carousel.min.js"></script>


<script src="js/main.js"></script>



</body>

</html>

